*{
    border-radius: 50px;
    margin: auto;
    padding: auto;
}

body{
    background-color: steelblue;
    box-sizing: border-box;
    padding: 10%
}


.h1{
    display: flex;
    justify-content: center;
    margin-top: auto;
}

fieldset{
    padding: 20px;
    margin: auto;
    width: 200px;
    height: 300px;
}

main{
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
